<section class="section-webdesign section-light">
    <div class="half-line before-lines"></div>
    <div class="wrap-lines container">
        <div class="row no-gutters">
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
        </div>
    </div>
    <div class="half-line after-lines"></div>
    <div class="container reveal">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="section-infos">
                    <h3 class="section-title mb-5">{{ bloc.titre }}</h3>
                    <p class="section-desc">{{ bloc.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="webdesign-icons mt-3">
                    <div class="wrap-icon">
                        <div class="icon-item icon-webdesign"></div>
                        <div class="icon-desc">Webdesign</div>
                    </div>
                    <div class="wrap-icon">
                        <div class="icon-item icon-integration"></div>
                        <div class="icon-desc">Intégration</div>
                    </div>
                    <div class="wrap-icon">
                        <div class="icon-item icon-responsive"></div>
                        <div class="icon-desc">Responsive</div>
                    </div>
                    <div class="wrap-icon">
                        <div class="icon-item icon-creative"></div>
                        <div class="icon-desc">Créatif</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pl-0 txt-center-sm">
                <a class="btn btn-outline-primary btn-round btn-effect btn-webdesign hoverable" href="{{ bloc.link }}">{{ bloc.texte_link }}</a>
            </div>
        </div>
    </div>
    <div class="webdesign-template">
        <div class="wrap-template">
            <img class="img-device" src="{{ bloc.image }}" alt="">
        </div>
    </div>
</section>
