{% extends "base.twig" %}
{% block content %}

	{# <h2>{{ foo }}</h2> #}
	{# <p>{{ qux }}</p> #}
	<div class="section works-content">
	<div class="half-line before-lines"></div>
	<div class="wrap-lines container">
		<div class="row no-gutters">
			<div class="col-3 liner"></div>
			<div class="col-3 liner"></div>
			<div class="col-3 liner"></div>
			<div class="col-3 liner"></div>
		</div>
	</div>
	<div class="half-line after-lines"></div>
		<div class="container p-0">
			<div class="row">
				<div class="col-12">
					<div class="wrap-btn-filter mb-5 text-center">
						<button class="btn-filter hoverable-small active" data-filter="*" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="{{custom_number}}">all</button>
						{% for category in categories %}
						<button class="btn-filter hoverable-small" data-filter=".{{category.name}}" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="{{category.count}}">{{category.name}}</button>
						{% endfor %}
					</div>
				</div>

					<div class="works">
					{% for post in posts %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
					</div>
					
					{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			</div>
		</div>
	</div>
{% endblock %}