{% extends "base.twig" %}
{# {{ dump(post) }} #}

{# {% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<img src="{{ post.thumbnail.src|resize(1200, 300) }}">
			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				<a href="{{ post.link }}">{{ _e('edit') }}</a>
				<p class="blog-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
				</p>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			<!-- comment box -->
			<section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %} #}

{% block content %}
	
{# {{ dump(post) }} #}

{# <section class="hero-case-study">
  <div class="hero-content">
	<div class="hero-title">
		<h1 class="mb-0">{{post.title}}</h1>
		<p class="header-subtitle">{{post.subtitle}}</p>
	</div>
  </div>
  <div class="hero-img">
  <img class="img-fluid" src="{{post.header}}" alt="">
  </div>
</section> #}

{# {{ dump(post) }} #}
{% if post.header == true %}
<section class="hero-page hero-case-study">
  <div class="hero-content" data-position="{{ post.position }}" style="background-image: url('{{ post.thumbnail.src }}')">
  </div>
  <div class="hero-title rellax" data-rellax-speed="3">
    <h1 class="mb-0">{{post.title}}</h1>
    {# <p class="header-subtitle">{{post.subtitle}}</p> #}
  </div>
  <div class="btn-sroll-content">
  	<a class="goto-link hoverable" href="#content"><i class="fas fa-arrow-down"></i></a>
  </div>
</section>
{% endif %}

{% set blocs = post.meta('single_blocs') %}
{# {{ dump(post) }} #}

<div class="case-study" id="content">
{% for i, bloc in blocs %}
    {% include('single-blocs/' ~ bloc.acf_fc_layout ~ '.twig')%}
{% endfor %}
</div>

<div class="section navigation-case-study">
    <div class="half-line before-lines"></div>
    <div class="wrap-lines container">
        <div class="row no-gutters">
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
        </div>
    </div>
    <div class="half-line after-lines"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 p-0">
				<div class="{% if post.prev and post.next %}wrap-navigation{% elseif post.prev %}wrap-navigation prev{% elseif post.next %}wrap-navigation next{% endif %}">
					{% if post.prev %}
						<div class="prev-case-study">
							<p>Prev</p>
							<a class="hoverable" href="{{ post.prev.link }}">{{ post.prev.title }}</a>
						</div>
					{% endif %}
					{% if post.next %}
						<div class="next-case-study">
							<p>Next</p>
							<a class="hoverable" href="{{ post.next.link }}">{{ post.next.title }}</a>
						</div>		
					{% endif %}	
				</div>			
			</div>
		</div>
	</div>
</div>

{% endblock %}
